header{
    padding: 20px;
    margin: 20px;
    padding-bottom: 0;
    
}
#section1{
    overflow: hidden;
     
}
#section1 img{
    border-radius: 15px;
    float:left;
    width: 200px;
    height: 300px;
    margin: 10px;
}
#my-menu{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 10px;
    padding: 10px;
    color: #282828;
}
#my-menu li{
    margin-right: 50px;
}
#my-menu li:last-child{
    margin-right: 0;
}
#page{
    padding: 10px;
    margin: 10px;
}


#my-menu a:hover {
    color: #dfb6f5;
}
#my-menu a:active {
    color: #884ec3;
}


#home-bar{
    
    margin: 20px;
    padding: 20px;
    color: #282828;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}
.menu{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.menu li{
    margin-right: 50px;
}
.menu li:last-child{
    margin-right: 0;
}
.link-button {
    color: #282828;
    font-family: sans-serif;
    display: inline-block;
    margin: 0 auto;
    border: none;
    border-radius: 46px;
    background: #e5e4e2;
    box-shadow:  7px 7px 30px #b5b4b3,
                 -7px -7px 30px #ffffff;
    cursor: pointer;
    
}
body{
    margin: 10px;
    padding: 10px;
    background-color: #e5e4e2;
    font-family: Arial, Helvetica, sans-serif;
}
.subtitle{
    color: #282828;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 10px;
}

.all{
    color: #282828;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}
#intro{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.container{
    
    transition: width 2s;
    transition-timing-function: ease-in;
}
.container img{
    width: 200px;
    height: 200px;
    margin: 10px;
    
}
a{
    text-decoration: none;
    color: #282828;
}
a:hover{
    color: #dfb6f5;
}
.btn{
    color: #282828;
    font-family: sans-serif;
    display: inline-block;
    margin: 0 auto;
    border: none;
    border-radius: 130px;
    background: linear-gradient(145deg, #cecdcb, #f5f4f2);
    box-shadow:  11px 11px 21px #b5b4b3,
                 -11px -11px 21px #ffffff;
    cursor: pointer;
}
.btn:hover{
    color: #311456;
}
.subSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.child-section{
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 46px;
    background: #d8d8d8;
    box-shadow:  7px 7px 30px #ababab,
                 -7px -7px 30px #ffffff;
    box-sizing: border-box;
}
.child-section2{
    width: 45%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 46px;
    background: #d8d8d8;
    box-shadow:  7px 7px 30px #ababab,
                 -7px -7px 30px #ffffff;
    box-sizing: border-box;
}
.child-section3{
    width: 50%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}
footer{
    padding: 20px;
    margin: 20px;
    color: #282828;
    
}

.menu1{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu1 li{
    margin-right: 10px;
}
.menu1 li:last-child{
    margin-right: 0;
}
img{
    width: 10%;
    height: 10%;
    margin: 5px;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #311456;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    background-color: #dfb6f5;
    color: #282828;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.links a{
    color: #282828;
    
}
.authour{
    text-align: center;
    
}
.work1{
    width: 75%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 46px;
    background: #d8d8d8;
    box-shadow:  7px 7px 30px #ababab,
                 -7px -7px 30px #ffffff;
}
.search{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
#search-bar{
    float: right;
    border: none;
    background-color: #e5e4e2;
}
#myBtnContainer{
    width: 10%;
}
.objects{
    width: 75%;
}
